{% extends "account/base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}

<h1>{% trans "Регистрация" %}</h1>




<p>{% blocktrans %}Если вы еще не создали учетную запись, то, пожалуйста
<a href="{{ signup_url }}">Зарегистрировать</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
 
  <button class="primaryAction" type="submit">{% trans "Регистрация" %}</button>
</form>

{% endblock %}
